body{
margin:0;
font-family:Arial;
background:#2a000c;
color:white;
}

header{
position:sticky;
top:0;
background:black;
padding:20px;
text-align:center;
}

header h1{
font-size:38px;
margin:0;
}

nav{
margin-top:10px;
}

nav a{
color:white;
margin:10px;
font-size:20px;
text-decoration:none;
font-weight:bold;
}

.hero{
text-align:center;
padding:80px 20px;
}

.hero h2{
font-size:46px;
}

.hero p{
font-size:22px;
}

.main-btn{
background:#8b0026;
padding:18px 40px;
border-radius:10px;
color:white;
text-decoration:none;
font-size:22px;
display:inline-block;
margin-top:25px;
}

.title{
text-align:center;
font-size:34px;
margin-top:60px;
}

.products{
display:grid;
grid-template-columns:1fr;
gap:30px;
padding:30px;
}

.card{
background:white;
color:#2a000c;
padding:20px;
border-radius:15px;
text-align:center;
}

.card img{
width:100%;
border-radius:10px;
}

.price{
font-size:24px;
font-weight:bold;
}

.card button{
background:#8b0026;
color:white;
border:none;
padding:14px;
font-size:20px;
border-radius:8px;
margin-top:10px;
}

.about{
font-size:20px;
padding:40px;
text-align:center;
}

.insta{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
padding:20px;
}

.insta img{
width:100%;
}

.contact{
text-align:center;
font-size:22px;
}

footer{
background:black;
text-align:center;
padding:30px;
margin-top:40px;
}

.cart-icon{
position:fixed;
bottom:90px;
right:20px;
background:#8b0026;
padding:18px;
font-size:28px;
border-radius:50%;
}

.whatsapp{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
padding:18px;
font-size:28px;
border-radius:50%;
}

.whatsapp a{
color:white;
text-decoration:none;
}

#cart{
position:fixed;
top:0;
right:-100%;
width:80%;
height:100%;
background:white;
color:black;
padding:20px;
transition:0.4s;
}

#popup{
position:fixed;
bottom:150px;
left:50%;
transform:translateX(-50%);
background:black;
color:white;
padding:10px 20px;
border-radius:8px;
display:none;
}
